body {
	font-family: 'Average Sans', sans-serif;
	font-size: 1.em;
	color:black;
	background-color:white;
	background-image: url(image-fond1.jpg);
	background-repeat:  no-repeat;
	box-shadow: 6px 6px 6px black inset;
	background-size: cover;
	width: 1200px;
	margin: auto;

}


.cv {
	display: flex;

		
}

header {
	display: flex;
	
	 justify-content: space-around;
	 /*border: solid red;*/
	 padding-left: 10px;
	padding-right: 10px;
	margin: auto;

}

/*.titre {
	
	text-align: center;
	width: 90%;
}*/




.presentation {
	display: flex;
	flex-direction: column;
	

	padding-top: 10px;
	padding-right: 30px;
	
	padding-left: 30px;
	width: 20%;
	
	align-items: center;
	background: url(image-presentation1.jpg);
	color: white;
	border-radius: 5%;
	width: 20%;
	
}

img {
	
	align-items:  center;
	border-radius: 100%;
	box-shadow: 2px #8DB3AE;
	max-width: 60%;
	height: auto;
	
}

.coord {
	
	align-items:  flex-start;
	list-style: none;
	color: #D4D4ED;
	justify-content:  flex-start;
	padding-right: 30px;
	font-family: "arial", serif;
	
}




.nom {
	
	font-size: 1.8em;
	font-weight: bold;
	font-family: 'Concert One', cursive;
	text-align: center;
	color: #E8CFE4;
}

.lien {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	height: 50%;

}

.contenu {
	/*width: 750px;*/
	/*justify-content: flex-end;*/
	
	/*border: solid red;*/
	padding-left: 10px;
	padding-right: 10px;
	/*margin: auto;*/
	
}

.metier {
	width: 80%;
	text-align: center;
	font-size: 3em;
	/*font-style: italic;*/
	/*border: solid grey;*/
	/*font-family: 'Righteous', cursive;*/
	font-family: "Lobster", cursive;
	color:#B2B2C0;
	text-shadow: 8px 8px 10px   #161286;
	
}

.titreCategorie {
	font-style: italic;
	color: #D777CA;
	font-size: 1.3em;
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Lemonada', cursive;
	/*text-align: center;*/
	border-radius: 2%;
	border-bottom: solid  #D777CA ;



}

main {
	/*border: solid blue;*/
	justify-content: flex-end;
	width: 80%;
	font-family: "arial";

}

.liste {
	color: #D4D4ED;
}

@media all and (max-width: 1024px)
{
 .cv
    {
      width: auto;
    }
}
